
.parent {
    
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

header {
    grid-column: 1 / 4;
    background-color: #0EB29A;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

nav {
	background-color: #364857;
	max-width: auto ;
    grid-column: 1/4;
    background: rgb(45, 44, 44);
    overflow: hidden;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
    
}

nav a:hover {
	text-decoration:overline;
}

.active {
	color: yellow;
}

/*main section*/

.articule-home {
    max-width: fit-content;
}

.first-section {
    float: left;
    width: 73%;
    padding: 0 10px;
}

.card .domi-card  > p{
    padding: 25px;
}

.card-first {
    background-color: white;
    color: black;
    margin: 25px;
    border: 1px solid black;
    border-radius: 25px;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: #0EB29A;
    color: white;
    margin: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.resume {
    display: flex;
}

.resume img {
    float: right;
    padding: 25px;
}



img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

h3 {
    display: flex;
    justify-content: center;
    padding: 5%;
}

h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.second-block {
    grid-row: 2/3;
    text-align: center;
}

.third-block {
    float: left;
    width: 25%;
    padding: 15px;
    padding-bottom: 25px;
}



.links {
    grid-column: 2/3;
    height: 80%;
    
    margin: 0%;

}

.second-section {
    float: right;
    width: 23%;
    padding: 0 10px;
}

.card-second {
    background-color: white;
    color: black;
    margin: 25px;
    border: 1px solid black;
    border-radius: 25px;
}

.car-two {
    background-color: white;
    color: black;
    margin: 25px;
    border: 1px solid black;
    border-radius: 25px;
}

.domi-card {
 padding-bottom: 10%;
}




ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

footer {
    grid-column: 1 / 4;
    background-color: #0EB29A;
    color: white;
    justify-content: center;
}

footer p {
    display: flex;
    justify-content: center;
    
}

footer > p {
    padding: -25px;
}