
.temple-menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto ;

}

.title {
    grid-column: 1/4;
}

.temples{
    display: grid;
    grid-template-columns: auto auto auto auto ;
}
figure{
    width: 100%;
}